.header{
    width: 80%;
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        background-color: #7b68ee;
         
        
      
    }
}
